main{
	background-color:#f3f2ef;
}
.header{background-color:white}
.header .website-icon {
	color:#0a66c2;
	font-size:40px;
}
.search{
	padding:5px 10px 0 10px;
	background-color:#0d6efd1a;
}

/*

input {
	border:none;
	background-color:transparent;
}

*/
.header .nav-icons a {
	display:inline-block;
	text-decoration:none;
	padding:0 18px;
	color:#717070f5;
	font-size:12px;
	border-bottom:2px white solid;
}
.header .nav-icons a i{
	font-size:22px;
	padding-bottom:5px;
	display:block;
}
.header .nav-icons a img{
	border-radius:50%;
	width:22px;
	display:block;
}
.nav-icons .work{border-left:1px solid lightgray}
.header .nav-icons div a{
	color:#c66e10;
	display:block
}
.header .nav-icons a:hover {
	color:black;
	border-bottom:2px black solid;
}
			/*---------------------------below header section starts------------*/
			
.profile,.invitation{
	background-color:white;
	border-radius:10px;
}
.profile {
	height:100%;}

.recommends {
	flex-wrap:wrap;
	background-color:white;
	margin-top:10px;
	border-radius:10px;
}
.recommends .people{
	margin:7px 0;
}
.recommends .peopleinside{
	border: solid 1px lightgray;
	border-radius:5%;
	overflow:hidden;
	margin:5px;
	height:100%;
}
.recommends img{
	width:35%;
	border-radius:50%;
	transform:translateY(20%);
	margin-left:10px;
}
.recommends .peoplecontent{
	padding:20px 15px;
}
.recommends .job{
	margin-bottom:0;
	min-height:70px;
	
	}
.recommends button{
	width:100%;
	color:#0564e8;
	font-weight:bold;
	border:2px solid #0564e8;
	padding:2px 25px;
	background-color:white;
	border-radius:30px;
	text-transform:capitalize;
}


							/*----------------------------- enter-section-------------------*/
						
#enter-section{
	width:100vw;
	height:100vh;
	background-image:url("../image/backimg.jpg");
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	position:relative;
}
							/*----------------------------- login-section-------------------*/
#login-section{
	position:absolute;
	top:50%;
	left:80%;
	transform:translate(-50%,-50%);
	border-radius:5px;
	box-shadow:0 0 8px 0 gray;
	margin: auto;
	color:white;
	width:30vw;
	line-height:30px;
	padding-left:20px;
}
.login .heading h1{
	color:#2977c9;
}
.login .heading h4{
	text-align:center;
	font-size:40px;
}

.login .input input{
	padding:0 20px;
	border-radius:20px;
}
#signup-btn{
	color:blue;
}
					/*----------------------------- signup-section-------------------*/
#signup-section{
	position:absolute;
	top:50%;
	left:80%;
	transform:translate(-50%,-50%);
	border-radius:5px;
	box-shadow:0 0 8px 0 gray;
	color:white;
	width:30vw;
	padding:20px;
}
.signup .heading h1{
	color:#2977c9;
}
.signup .heading h4{
	text-align:center;
	font-size:40px;
}

.signup label{
	width:100px;
}
.signup .gender-tag{
	display:inline-block;
	width:100px;}
.signup label.gender{
	width:unset;
	margin-left:20px
}
	/*----------------------------- profile-section-------------------*/
	
#profile{
	background-color:white;
	text-align:center;
	padding-bottom:20px;
	margin-bottom:20px;
}

#profile img{
	width:25%;
	border-radius:50%;
	margin-bottom:20px;
	padding-top:20px;
}
.

	/*----------------------------- recommends-section-------------------*/